.news_container {
    margin: 0 20px 20px 20px;
}

div {
    display: block;
}

.title {
    color: palevioletred;
    text-align: center;
}
.title-box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-box h2 {
    letter-spacing: 5px;
    color: palevioletred;
    margin-right: -10px;
    font-weight: 800;
}

.title-box hr {
    width: 200px;
    height: 2px;
    background-color: palevioletred;
    border: none;
    margin: 15px 10px;
}

.bigImg {
    float: left;
    /* width: 60%; */
    height: 100%;
    overflow: hidden;
    position: relative;
}

.news-box {
    display: flex;
    /* margin: 0 30px 25px 30px; */
    margin:auto;
}

.bigImg img {
    width: 100%;
}

.bigImg span {
    position: absolute;
    z-index: 22;
    background-color: rgb(216, 112, 147, 0.7);
    left: 0;
    bottom: 0;
    padding: 10px;
    color: wheat;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.bigImg span:hover {
    text-decoration: underline;
}

.right-content {
    float: right;
    width: 50%;
    height: 100%;
    margin-left: 30px;
}

.news-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.right-content img#right {
    width: 200px;
    height: 144px;
}

.ul-box {
    height: 100%;
    margin: 0 20px;
}

.ul-box li:hover {
    box-shadow: 0px 0px 25px 2px rgb(173, 173, 173);
}

.ul-box a {
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.ul-box a span {
    margin-left: 10px;
    width: 100%;
    text-align: justify;
}

.ul-box a span:hover {
    text-decoration: underline;
    color: palevioletred;
}

.ul-box li {
    margin-top: 15px;
}

.ul-box li:first-child {
    margin-top: 0px;
}

.right-content a {
    text-decoration: none;
    cursor: pointer;
    color: #4c4c4c;
}

.bigImg a {
    cursor: pointer;
}

.bottom-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more-news {
    display: flex;
    flex-direction: row;
}

.subnews {
    width: 100%;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    height:420px;
    /* position:relative !important; */
    justify-content: space-between;
}

.subnews:hover {
    box-shadow: 0px 0px 25px 2px rgb(173, 173, 173);
}

.subnews p {
    /* margin: 20px 0; */
    width:100%;
    text-align: center;
}
/* .vitriDuoiCung{
    position:absolute !important;
    bottom:0;
} */
.subnews p:hover {
    text-decoration: palevioletred underline;
    color: palevioletred;
}
.btn_in_homepage {
    /* background-color: wheat; */
    /* background-color: white; */
    background-color: whitesmoke;
    font-size: 18px;
    /* padding: 5px 20px; */
    /* margin-top: 20px; */
    /* border-radius: 18px; */
    font-weight: bold;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}

.btn_in_homepage:hover {
    cursor: pointer;
    /* background-color: white; */
    /* background-color: wheat; */
    background-color: pink;
    /* color: #AA272F !important; */
}
.subnews img {
    width: 100%;
    /* height: 70%; */
    /* width:300px; */
    height:300px;
    /* height:100%; */
    margin:auto;
    display:block;
}

@media screen and (max-width: 1250px) {
    .bigImg img {
        width: 100%;
        height: 500px;
    }
    .bigImg span {
        width: 100%;
        padding-right: 0px;
    }
    .right-content img#right {
        width: 230px;
        height: 158px;
    }
}

@media screen and (max-width: 1000px) {
    .bigImg img {
        width: 100%;
        /* width: 600px; */
        height: 400px;
    }
    .bigImg span {
        width: 100%;
        padding-right: 0px;
    }
    .right-content img#right {
        width: 180px;
        height: 124px;
    }
}

@media screen and (max-width: 900px) {
    .bigImg img {
        width: 100%;
        /* width: 480px; */
        height: 350px;
    }
    .bigImg span {
        width: 100%;
        padding-right: 0px;
    }
    .right-content img#right {
        width: 150px;
        height: 108px;
    }
}

@media screen and (max-width: 840px) {
    .bigImg img {
        width: 100%;
        height: 300px;
    }
    .bigImg span {
        width: 100%;
        padding-right: 0px;
    }
    .right-content img#right {
        width: 132px;
        height: 89px;
    }
    .subnews img {
        width: 100%;
        font-size: 12px;
    }
}

@media screen and (max-width: 760px) {
    .news-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .right-content {
        margin-top: 15px;
        margin-left: 0px;
        width:100%;
    }
    .bigImg img {
        width: 100%;
        height: auto
    }
    .bigImg span {
        width: 100%;
        padding-right: 0px;
    }
    .right-content img#right {
        width: 300px;
        height: 200px;
    }
    .li_news-title {
        width: 100%;
        text-align: left;
    }
    .ul-box {
        height: 100%;
        /* margin: 0 20px; */
        margin: auto;
        /* width: 460px; */
        width: 90%;
    }
    .more-news {
        flex-wrap: wrap;
    }
    .more-news a {
        display: flex;
        flex-direction: row;
    }
    .subnews {
        margin-top: 10px;
    }
    .subnews p {
        /* margin-left: 10px; */
    }
}

@media screen and (max-width: 550px) {
    .news-box {
        width: 100%;
        margin: 0px;
    }
    .bigImg {
        width: 100%;
    }
    .bigImg img {
        width: 100%;
    }
    .bigImg span {
        width: 100%;
    }
    .right-content {
        width: 100%;
    }
    .ul-box {
        width: 90%;
        margin: auto;
    }
    .ul-box a {
        width: 100%;
    }
    .right-content img#right {
        width: 100%;
        height: auto;
    }
    .li_news-title {
        width: 100%;
    }
    .title-box {
        width: 100%;
    }
    .title-box hr {
        display: none;
    }
    .more-news {
        width: 100%;
        flex-direction: column;
    }
    .subnews {
        padding: 10px 0;
        margin: 0px;
    }
}

@media screen and (max-width: 420px) {
    .news-box {
        width: 100%;
        margin: 0px;
    }
    .bigImg {
        width: 100%;
    }
    .bigImg img {
        width: 100%;
    }
    .bigImg span {
        width: 100%;
    }
    .right-content {
        width: 100%;
    }
    .ul-box {
        width: 90%;
        margin: 0px;
    }
    .ul-box a {
        width: 100%;
    }
    .right-content img#right {
        width: 100%;
        height: auto;
    }
    .li_news-title {
        width: 100%;
    }
    .title-box {
        width: 100%;
    }
    .title-box hr {
        display: none;
    }
    .more-news {
        width: 100%;
    }
    .subnews {
        padding: 10px 0;
        margin: 0px;
    }
}

a{
    color:black;
}