<div class="news_container">
    <div class="top-news">
        <div class="title-box">
            <hr>
            <h2 class="title">TIN NỔI BẬT</h2>
            <hr>
        </div>
        <div class="news-box">
            <div class="bigImg">
                <a href="/discount50">
                    <img src="../../../assets/library/discount50.png" alt="">
                    <span style="text-align:center">MÙA ĐÔNG KHÔNG LẠNH - GIẢM GIÁ 50% QUẦN ÁO THÚ CƯNG
                    <div class="txt"></div>
                </span>
                </a>
            </div>
            <div class="right-content">
                <!-- <ul class="ul-box">
                    <li *ngFor="let h of homeNewsList.slice().reverse()">
                        <a href="">
                            <img id="right" src="{{h.image}}" alt="">
                            <span class="li_news-title">{{h.title}}</span>
                        </a>
                    </li>
                </ul> -->
                
                <ngx-slick-carousel class="ul-box carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig2" 
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                    <div style="margin-bottom:20px;" ngxSlickItem class="" *ngFor="let h of homeNewsList.slice().reverse()">
                        <a href="">
                            <img style="height:144px; width:200px;" src="{{h.image}}" alt="">
                            <span class="li_news-title">{{h.title}}</span>
                        </a>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
    <br>
    <div class="bottom-news" style="margin-top: 20px;">
        <div class="title-box">
            <hr>
            <h2 class="title">TIN LIÊN QUAN</h2>
            <hr>
        </div>
        <!-- <div class="more-news">
            <div class="subnews item {{isSelected(s) ? 'selected': ''}}" *ngFor="let s of subnewsList">
                <a href="/news/{{s.id}}">
                    <img src="{{s.image}}" alt="">
                    <span>{{s.title}}</span>
                </a>
            </div>

        </div> -->
    </div>
</div>
<ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
<!-- <div ngxSlickItem *ngFor="let slide of slides" class="slide">
<img src="{{ slide.img }}" alt="" width="100%">
<p>sad</p>
</div> -->
<div ngxSlickItem class="subnews item {{isSelected(s) ? 'selected': ''}}" *ngFor="let s of subnewsList.slice().reverse()">
    <a href="/news/{{s.id}}">
        <img src="{{s.image}}" alt="">
        <p style="text-align: center">{{s.title}}</p>
    </a>
    <button class="btn_in_homepage" type="button"><a href="/news/{{s.id}}">XEM THÊM</a></button>
</div>
</ngx-slick-carousel>
<!-- <button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->