<section class="h-100 gradient-custom" style="margin-top:-20px;margin-bottom:-50px">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Giỏ hàng - 2 sản phẩm</h5>
            </div>
            <div class="card-body">
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="../../../assets/library/products/dog/DG_FO_sp10.jpg"
                      class="w-100" alt="Blue Jeans Jacket" />
                    <a href="/dog">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>Thức ăn cho chó con hạt mềm ZENITH Puppy Chicken Potato</strong></p>
                  <!-- <p>Color: blue</p> -->
                  <p>Khối lượng: 1kg</p>
                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                    title="Remove item">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                    title="Move to the wish list">
                    <i class="fas fa-heart"></i>
                  </button>
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                      <!-- <p style="text-align: center !important;">Số lượng</p> -->
                      <!-- <p>Số lượng</p> -->
                      
                      <div class="d-flex mb-4" style="max-width: 300px">
                    <button class="btn btn-primary px-3 me-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>
  
                    <!-- <div class="form-outline">
                      <input style="text-align: center !important;" id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
                      <label class="form-label" for="form1">Quantity</label>
                    </div> -->
                    <label class="input">
                      <input style="text-align: center !important;" class="input__field" id="form1" min="0" name="quantity" value="1" type="number" />
                      <span class="input__label">Số lượng</span>
                    </label>
                    <button class="btn btn-primary px-3 ms-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong>500.000 VNĐ</strong>
                  </p>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
  
              <hr class="my-4" />
  
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="../../../assets/library/products/dog/DG_FO_sp1.jpg"
                      class="w-100" />
                    <a href="/dog">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>Thức ăn cho chó con cỡ nhỏ ROYAL CANIN Mini Puppy</strong></p>
                  <!-- <p>Color: red</p> -->
                  <p>Khối lượng: 2kg</p>
  
                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                    title="Remove item">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                    title="Move to the wish list">
                    <i class="fas fa-heart"></i>
                  </button>
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <button class="btn btn-primary px-3 me-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>
  
                    <!-- <div class="form-outline">
                      <input style="text-align: center !important;" id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
                      <label class="form-label" for="form1">Quantity</label>
                    </div> -->
                    <label class="input">
                      <input style="text-align: center !important;" class="input__field" id="form1" min="0" name="quantity" value="1" type="number" />
                      <span class="input__label">Số lượng</span>
                    </label>
                    <button class="btn btn-primary px-3 ms-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong>500.000 VNĐ</strong>
                  </p>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Ngày giao hàng dự kiến</strong></p>
              <p class="mb-0">01.06.2022 - 03.06.2022</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>Chúng tôi chấp nhận thanh toán</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <!-- <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                alt="PayPal acceptance mark" /> -->
            </div>
          </div>
          <br>
          <!-- <a class="btn btn-primary btn-lg btn-block" href="/payment">
            Go to checkout
          </a> -->
          <a class="btn btn-primary btn-lg btn-block" href="#">
            XÁC NHẬN
          </a>
        </div>
        
        <!-- Div điền thông tin thanh toán của khách hàng, đã backup trong notepad -->
        <!-- Copy lại tại đây -->


      </div>
    </div>
  </section>
<!-- Modal -->
<div style="z-index:99999;"
class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#confirmModal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div style="z-index:99999;"
class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- <p>Manually set appearance.</p>
<div>
	<mat-form-field appearance="outline">
		<mat-label>Test field</mat-label>
		<input matInput value="message">
	</mat-form-field>
</div> -->