<div>
    <h2 class="text-center lh-lg" style="background-color: #f5deb3; color:#db7093">CHÍNH SÁCH</h2>
    <!-- https://marpet-dev.github.io/Web1-Final-project/library/logoko-01.png -->
    <!-- background-image -->
    <!-- style="background:white url(./hihi.jpg) repeat fixed;" -->
    <!-- style="background:white url(https://us.123rf.com/450wm/yellowderevo/yellowderevo1507/yellowderevo150700043/43269030-paw-zoo-pattern-illustration-for-zoo-design-.jpg?ver=6) repeat fixed;" -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="">
                    <ul style="list-style-type: none; overflow: auto;">
                        <li class="listInPolicy marginPolicy">
                            <!-- <a href="#giaohang" class="linktrongchinhsach">Giao hàng</a> -->
                            <a routerLink="#giaohang" class="linktrongchinhsach">Giao hàng</a>
                        </li>
                        <li class="listInPolicy marginPolicy"><a href="#phuongthucthanhtoan"
                                class="linktrongchinhsach">Phương thức thanh toán</a></li>
                        <li class="listInPolicy marginPolicy"><a href="#doitrahang" class="linktrongchinhsach">Đổi, trả
                                hàng</a></li>
                        <li class="listInPolicy marginPolicy"><a href="#baohanh" class="linktrongchinhsach">Bảo hành</a>
                        </li>
                    </ul>
                    <!-- <img style="width: 50%;margin-top:50px;" src="https://marpet-dev.github.io/Web1-Final-project/library/signup_img2_xoay.png"> -->
                </div>
            </div>
            <div class="col-md-10">
                <div id="giaohang">
                    <h2>Giao hàng</h2>
                    <p style="margin-top:15px; text-align: justify;">MarPet giao hàng miễn phí với các đơn hàng từ 199k trong vòng từ 2 đến 4
                        giờ
                        với các đơn hàng thuộc nội thành Hà Nội và Thành phố Hồ Chí Minh.</p>
                    <table style="margin-left:auto; margin-right:auto; margin-top:15px;margin-bottom:15px">

                        <tr style="background-color: #f5deb3;">
                            <th>STT</th>
                            <th>KHU VỰC GIAO HÀNG</th>
                            <th>GIÁ TRỊ ĐƠN HÀNG</th>
                            <th>PHÍ GIAO HÀNG</th>
                            <th>THỜI GIAN GIAO HÀNG</th>
                        </tr>
                        <tr>
                            <td rowspan="2">1</td>
                            <td rowspan="2">Khoảng cách 10km tính từ cửa hàng MarPet lấy hàng</td>
                            <td>Từ 199k</td>
                            <td>Miễn phí</td>
                            <td rowspan="2">Trong vòng 2 đến 4 tiếng</td>
                        </tr>
                        <tr>
                            <td>
                                &#60; 199k</td>
                            <td>Thu phí 20k</td>
                        </tr>
                        <tr style="background-color: #f5deb3;">
                            <td>2</td>
                            <td>Khoảng cách từ 10km đến 15km</td>
                            <td>Từ 199k</td>
                            <td>Từ km thứ 9 trở đi phụ thụ 8k/km</td>
                            <td>Trong vòng 2 đến 6 tiếng</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Khoảng cách từ 15km trở lên hoặc ngoại tỉnh</td>
                            <td>Mọi giá trị đơn hàng</td>
                            <td>Tính theo biểu phí đơn vị vận chuyển hàng</td>
                            <td>Từ 2 đến 7 ngày</td>
                        </tr>
                    </table>
                    <div>
                        <div class="module-header" style="margin-bottom:20px">
                            <!-- <hr class="activeBienMat"> -->
                            <img src="https://marpet-dev.github.io/Web1-Final-project/library/dogicon.png"
                                style="width: 30px; height:30px;  margin-right:5px">
                            <!-- background-color: silver; width:100px; -->
                            <h2
                                style="color: #db7093; margin-right:10px; margin-left:10px; border-radius: 50px; font-size:30px;">
                                LƯU Ý</h2>
                            <img src="https://marpet-dev.github.io/Web1-Final-project/library/dogicon.png"
                                style="width: 30px; height:30px;  margin-left:5px">
                            <!-- <hr class="activeBienMat"> -->
                        </div>
                    </div>
                    <h4 style="color: red; text-align: center;">CHÍNH SÁCH GIAO HÀNG KHÔNG ÁP DỤNG TẠI ĐỊA PHƯƠNG ÁP
                        DỤNG
                        GIÃN CÁCH XÃ HỘI. MARPET SẼ THÔNG BÁO PHÍ GIAO HÀNG SAU KHI TIẾP NHẬN ĐƠN.</h4>
                    <br>
                    <ol>
                        <li class="listInPolicy">Nếu quý khách hàng có nhu cầu giao hàng nhanh trong vòng từ 1-2h kể từ
                            khi
                            đặt hàng, MarPet sẽ cố gắng hỗ trợ tối đa, trường hợp nhân viên giao hàng của MarPet không
                            kịp
                            đáp ứng sẽ gọi đơn vị vận chuyển và sẽ thu phí theo quy định của đơn vị vận chuyển đó.</li>
                        <li class="listInPolicy">Trường hợp khách hàng chỉ định đơn vị vận chuyển hoặc chuyển hàng qua
                            nhà
                            xe quen, quý khách vui lòng thanh toán các khoản phí vận chuyển và các chi phí phát sinh với
                            đơn
                            vị vận chuyển đó. MarPet không chịu trách nhiệm với các phát sinh liên quan đến
                            hàng hóa hỏng hóc và thất lạc trong quá trình vận chuyển.</li>
                        <li class="listInPolicy">Quy định về việc nhận hàng: Quý khách vui lòng kiểm tra kỹ hàng hóa tại
                            thời điểm nhận hàng, mở bao gói sản phẩm kiểm tra số lượng và chất lượng hàng hóa, nếu phát
                            hiện
                            dấu hiệu móp méo, bao bì rách… quý khách cần từ chối nhận hàng và báo lại phía MarPet
                            phối hợp giải quyết.</li>
                        <li class="listInPolicy">Kiểm tra thông tin trên hóa đơn để nhận đúng hàng hóa và thanh toán
                            tiền
                            theo hóa đơn.</li>
                    </ol>
                </div>
                <br>
                <div id="phuongthucthanhtoan">
                    <h2>Phương thức thanh toán</h2>
                    <p>Để tạo thuận lợi cho việc mua sắm của Quý Khách tại cửa hàng MarPet, chúng tôi hỗ trợ Quý khách
                        các
                        phương thức thanh toán sau:</p>

                    <div>
                        <div>
                            <h4>Dịch vụ giao hàng và thu tiền tận nơi COD: áp dụng cho khách hàng tại Hà Nội & Tp.HCM
                            </h4>
                            <div>
                                <p>Sau khi Quý Khách hàng đặt mua hàng tại MarPet, dựa vào các thông tin quý khách cung
                                    cấp,
                                    nhân viên của chúng tôi sẽ đến tận nơi giao hàng và Quý Khách thanh toán tiền ngay
                                    cho
                                    nhân viên giao hàng. Trong trường hợp Quý Khách muốn được
                                    giao hàng đến 1 địa chỉ khác, Quý Khách sẽ thanh toán trước với chúng tôi tại địa
                                    chỉ :
                                </p>
                                <ol style="margin-right: 30px;">
                                    <h4 style="font-weight: bold; color: #db7093;">Tại Hà Nội:</h4>
                                    <li>
                                        <h4>Số 10 Hàm Long, Hoàn Kiếm, Hà Nội</h4>
                                        <ul style="margin-right: 30px;">
                                            <li>Tel: 024 3933 2727 | Hotline: 0987 612727</li>
                                            <li>Thời gian làm việc: Từ 8.00am - 9.30pm (tất cả các ngày)</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4>Số 101 Núi Trúc, Kim Mã, Ba Đình, Hà Nội</h4>
                                        <ul style="margin-right: 30px;">
                                            <li>Tel: 024 3244 4824 | Hotline: 0987 612727</li>
                                            <li>Thời gian làm việc: Từ 8.00am - 9.30pm (tất cả các ngày)</li>
                                        </ul>
                                    </li>

                                </ol>
                                <ol style="margin-right: 30px;">
                                    <h4 style="font-weight: bold; color: #db7093">Tại Tp.HCM</h4>
                                    <li>
                                        <h4>Số 174 Cộng Hòa, Phường 12, Quận Tân Bình, Hồ Chí Minh</h4>
                                        <ul style="margin-right: 30px;">
                                            <li>Tel: 028 3811 2799 | Hotline: 1900 2214</li>
                                            <li>Thời gian làm việc: Từ 8.00am - 9.30pm tất cả các ngày trong tuần</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4>Số 222 Lý Chính Thắng, Quận 3, Hồ Chí Minh</h4>
                                        <ul style="margin-right: 30px;">
                                            <li>Tel: 028 3526 0717 | Hotline: 1900 2214</li>
                                            <li>Thời gian làm việc: Từ 8.00am - 9.30pm tất cả các ngày trong tuần</li>
                                        </ul>
                                    </li>
                                </ol>

                            </div>
                        </div>
                        <div>
                            <h4>Thanh toán chuyển khoản qua Ngân hàng</h4>
                            <ul>
                                <p>Bạn đến bất kỳ ngân hàng nào ở Việt Nam để chuyển tiền theo thông tin bên dưới (bạn
                                    không
                                    nhất thiết phải có tài khoản ngân hàng).</p>
                                <p>Cửa hàng MarPet có các tài khoản tại các Ngân hàng sau :</p>
                                <div>
                                    <p style="font-weight: bold;">Vietinbank CN Hoàng Mai</p>
                                    <p>Số TK : 106868087203</p>
                                    <p>Chủ TK: Uyên Nguyễn</p>
                                </div>
                            </ul>
                        </div>
                        <div>
                            <h4>Thanh toán qua máy Vietinbank CN Hoàng Mai</h4>
                            <ul>
                                <p>Ngoài các phương thức thanh toán trên, Quý khách cũng có thể dùng chuyển khoản bằng
                                    hệ
                                    thống ATM của ngân hàng <b style="color: #db7093;">Vietinbank</b> . Quý khách có thể
                                    đến
                                    bất kỳ máy ATM nào thuộc <b style="color: #db7093;">Vietinbank</b> để chuyển khoản
                                    cho
                                    MarPet theo số tài khoản người nhận như sau :</p>
                                <div>
                                    <p style="font-weight: bold;">Vietinbank CN Hoàng Mai</p>
                                    <p>Số TK : 106868087203</p>
                                    <p>Chủ TK: Uyên Nguyễn</p>
                                </div>
                            </ul>
                        </div>
                        <div>
                            <h4>Thanh toán bằng thẻ Visa, Master, các Thẻ ATM (thanh toán tại cửa hàng)</h4>
                            <p>Quý khách có thể thanh toán bằng thẻ Visa, Master, các Thẻ ATM khác trực tiếp tại cửa
                                hàng
                                qua hệ thống máy Chấp nhận thanh toán POS (theo hình thức ưu đãi vẫn như khách hàng
                                thanh
                                toán bằng tiền mặt mà không phải mất phí giao dịch cho tất cả các sản phẩm).</p>
                        </div>
                    </div>

                    <div style="margin-left:20px;">
                        <p><span style="color:red; font-weight: bold;">HỆ THỐNG CỬA HÀNG MARPET:</span></p>
                        <p><span style="font-weight: bold;"> Văn phòng Điều hành: </span> Tầng 79, Tòa nhà Landmark 81,
                            720A
                            Điện Biên Phủ, P22, Q.Bình Thạnh, Thành phố Hồ Chí Minh</p>
                        <p><span style="font-weight: bold;">Hà Nội:</span> 174 Kim Mã, Q.Ba Đình, Hà Nội</p>
                        <p><span style="font-weight: bold;">Hồ Chí Minh:</span> 166 Lý Chính Thắng, Quận 3, Tp. HCM</p>
                        <p><span style="font-weight: bold;"> Tel:</span> 024 3931 0777 - 024 3933 2727</p>
                        <p><span style="font-weight: bold;"> Hotline:</span> 0987 612727</p>
                        <p><span style="font-weight: bold;"> E-mail:</span> petcity.vn@gmail.com</p>
                        <!-- <p><span style="font-weight: bold;"> Web:</span> http://marpet.vn</p> -->
                    </div>

                    <div>
                        <span class="module-header scenter" style=" margin-bottom:50px">
                            <hr />
                            <h2>PHƯƠNG THỨC THANH TOÁN ĐA DẠNG</h2>
                            <hr />
                        </span>
                        <img style="margin: auto;display: block;"
                            src="https://www.paymentwall.com/uploaded/files/PW20_methods.png">
                    </div>

                </div>

                <br>
                <div id="doitrahang">
                    <h2>Đổi, trả hàng</h2>
                    <div class="policy-container">
                        <h3 style="font-weight: 700;">Quý khách hoàn toàn có thể đổi lại hàng. </h3>

                        <p>Bạn đã bao giờ mua hàng tại các cửa hàng & bạn không thích sản phẩm mình đã mua? Các cửa hàng
                            không cho bạn đổi sang sản phẩm khác? Bạn hoàn toàn có thể đổi được khi bạn mua hàng tại
                            showroom MarPet. </p>

                        <h3 style="font-weight: bold;">Điều kiện đổi sản phẩm: </h3>
                        <div style="margin-right:30px; margin-left:20px">
                            <ol>
                                <li>Bạn có thể đổi lại hàng trong vòng <b style="color: #db7093;">30 ngày</b> kể từ ngày
                                    mua
                                    theo Hoá đơn mà không phải chịu bất kỳ một khoản phí nào.</li>
                                <li>Sản phẩm chưa bóc hộp hoặc tem & còn mới 100% kể từ lúc mua. Nguyên trạng như khi
                                    MarPet
                                    giao sản phẩm cho Quý khách.</li>
                                <li style="margin-bottom: 20px;">
                                    Sản phẩm đổi trực tiếp tại:
                                    <ul style="list-style-type: circle;">
                                        <br>
                                        <li>10 Hàm Long, Q.Hoàn Kiếm, Hà Nội - 024 3933 2727</li>
                                        <li>174 Kim Mã, Q.Ba Đình, Hà Nội - 024 3244 4824</li>
                                        <li>250/3 Lý Chính Thắng, Quận 3, Tp. HCM - 028 3526 0717</li>
                                        <li>174 Cộng Hòa, Q.Tân Bình, Tp. HCM - 028 3811 2799</li>
                                        <li>255 Trưng Nữ Vương, Q.Hải Châu, Đà Nẵng - 023 6364 6727</li>
                                    </ul>
                                </li>
                                <li style="color: red; font-weight:600;">Không đổi tại nhà khách hàng. Không gửi trực
                                    tiếp
                                    cho Nhà sản xuất. </li>
                                <li>Sản phẩm đổi mới sẽ ngang bằng hoặc lớn hơn sản phẩm đã mua trước đó.</li>
                                <li>Đối với quý khách hàng đã mua hàng tại cửa hàng & sản phẩm đã mở hộp ra kiểm tra tại
                                    cửa
                                    hàng sẽ không được đổi sang sản phẩm khác.</li>
                                <li>Không nhận đổi lại hàng nếu các sản phẩm kể trên nằm trong chương trình “Stock
                                    Clearance” (Thanh lý hàng tồn kho).</li>
                                <li>Trong các trường hợp khác quyền quyết định sẽ thuộc về MarPet.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <br>
                <div id="baohanh">
                    <h2>Bảo hành</h2>
                    <p>Bảo hành sản phẩm là khắc phục những lỗi hỏng hóc, sự cố kỹ thuật xảy ra do lỗi của nhà sản xuất.
                    </p>
                    <div>
                        <h3>ĐIỀU KIỆN BẢO HÀNH</h3>
                        <p>Sản phẩm được bảo hành miễn phí nếu sản phẩm đó đáp ứng đủ các điều kiện sau:</p>
                        <ul>
                            <li>Còn thời hạn bảo hành (được tính kể từ ngày khách hàng nhận được sản phẩm).</li>
                            <li>Khách hàng có đủ cả hóa đơn bán hàng của MarPet , phiếu bảo hành, tem bảo hành theo quy
                                định
                                của từng Nhà sản xuất.</li>
                        </ul>
                    </div>
                    <div>
                        <h3>NƠI NHẬN BẢO HÀNH</h3>
                        <ul>
                            <li>MarPet nhận sản phẩm cần bảo hành của khách: Khách hàng chuyển sản phẩm cần bảo hành đến
                                bất
                                kỳ cửa hàng thuộc hệ thống của MarPet. Chúng tôi sẽ có trách nhiệm gửi sản phẩm đến
                                trung
                                tâm bảo hành của nhà sản xuất. Sau khi sản phẩm được bảo hành, MarPet sẽ thông báo cho
                                khách
                                hàng đên nhận lại sản phẩm tại hệ thống cửa hàng của MarPet.</li>
                            <li>Các chi phí phát sinh trong quá trình thực hiện việc bảo hành như phí vận chuyển, thay
                                thế
                                linh kiện v.v… sẽ do khách hàng chi trả.</li>
                            <li>Khách hàng gửi trực tiếp sản phẩm cần bảo hành đến các trung tâm bảo hành của nhà sản
                                xuất.
                                Nhà sản xuất sẽ có trách nhiệm thực hiện việc bảo hành và thông báo kết quả cho khách
                                hàng.
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>NHỮNG TRƯỜNG HỢP KHÔNG ĐƯỢC BẢO HÀNH</h3>
                        <ul>
                            <li>Sản phẩm đã hết thời hạn bảo hành.</li>
                            <li>Phiếu bảo hành không được điền đầy đủ các thông tin khách hàng và các thông tin trên sản
                                phẩm không trùng khớp với thông tin ghi trên phiếu bảo hành.
                            </li>
                            <li>Hóa đơn bán hàng bị mất hoặc bị rách không đọc được thông tin về sản phẩm.
                            </li>
                            <li>Phiếu bảo hành, Tem bảo hành bị rách hoặc mất; Tem bảo hành bị dán đè, hoặc Tem bảo hành
                                bị
                                sửa đổi nội dung (kể cả Tem bảo hành gốc).
                            </li>
                            <li>Tự ý tháo dỡ, sửa chữa sản phẩm bởi các cá nhân khác không phải là nhân viên của Nhà sản
                                xuất.
                            </li>
                            <li>Sử dụng sai hướng dẫn hoặc quy định của nhà sản xuất: Sai điện áp, sản phẩm bị cháy nổ
                                hay
                                hỏng hóc do tác động cơ học; biến dạng do rơi, vỡ, va đập; bị xước, bị hỏng do ẩm ướt,
                                hoen
                                rỉ, chảy nước, động vật xâm nhập vào, thiên tai, hỏa hoạn.
                            </li>
                            <li>Theo các quy định riêng của nhà sản xuất.</li>
                        </ul>
                        <!-- <img style="margin:auto; display: block; width: 100px;margin-top:35px" src="https://www.freeiconspng.com/thumbs/dog-png/dog-png-30.png"> -->
                        <img style="margin:auto; display: block; margin-top:35px; width:30%"
                            src="https://images.indianexpress.com/2017/04/dogs-759.jpg">
                        <!-- <div style="background:white url(//www.html.am/images/backgrounds/background-image-2.gif) repeat fixed;border:1px solid black;width:300px;height:200px;font-size:18px;">HTML background image example</div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>