.col-sm-4{
    margin-bottom:20px;
    margin-top:20px;
    color:black;
}
.shadowWhenHover{
    color:black;
}
.shadowWhenHover:hover{
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.3);
}
.row{
    width:90%;
    margin: 0 auto;
}
.card-title{
    text-align: center;
}
.btn-primary{
    margin-top:20px;
}
.module-header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.module-header h2 {
    letter-spacing: 5px;
    color: palevioletred;
    margin-right: -10px;
}
.module-header hr {
    width: 200px;
    height: 2px;
    background-color: palevioletred;
    border: none;
    margin: 15px 10px;
}
.module-header-text {
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
}
.prize {
    position: absolute;
    width: 15%;
    left: 0px;
    top: 0px;
}
.sale-price {
    text-decoration: line-through;
}
.backgroundDangSau{
    background:linear-gradient(white 39%, #C0466E 20%);
    /* padding-bottom:10px; */
    /* background:linear-gradient(to bottom, #C0466E 60%, #fff 0); */
}
.backgroundDangSau2{
    /* background:linear-gradient(#C0466E 39%,white 20% ); */
    background-color: #C0466E;
    /* padding-bottom:10px; */
    /* background:linear-gradient(to bottom, #C0466E 60%, #fff 0); */
}

/* @media only screen and (max-width: 551px){
    .backgroundDangSau{
        background:none;
    }
} */

.text {
    position: absolute;
    top: 50px;
    right: 150px;
    background-color: white;
    width: 30%;
    padding: 20px;
    font-size: 18px;
    box-shadow: 2px 2px 2px 2px black;
    word-spacing: 5px;
}

.text>h2 {
    margin-bottom: 20px;
}
.btn_in_homepage {
    background-color: wheat;
    font-size: 18px;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 18px;
    font-weight: bold;
}

.btn_in_homepage:hover {
    cursor: pointer;
    background-color: white;
    color: #AA272F;
}
/* .positionButton{
    position:relative;
    left:85%;
    bottom:100px;
} */
@media only screen and (max-width: 1300px){
    .text{
        visibility: hidden;
    }
}