<!-- Carousel wrapper -->
<div style="margin-top:-18px;" id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="text">
          <h2>Siêu chính hãng</h2>
          <p>100% thức ăn nhập khẩu</p>
          <p> Sản phẩm chất lượng cao với thương hiệu đa dạng</p>
          <div class="text-center">
            <a href="/dog"><button class="btn_in_homepage" type="button">Ghé ngay</button></a>
          </div>
        </div>
        <img src="../../../assets/library/banner2.png" class="d-block w-100" alt="Sunset Over the City"/>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>First slide label</h5> -->
          <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="../../../assets/library/valentinebanner.png" class="d-block w-100" alt="Canyon at Nigh"/>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5> -->
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="../../../assets/library/slider3.gif" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->



  <br>
  <br>
  <div class="module-header">
    <hr/>
    <h2>Danh mục bán chạy nhất</h2>
    <hr/>
  </div>
  <div class="backgroundDangSau2">
    
    <div class="row">
      <div class="col-sm-4">
        <a class="card text-center shadowWhenHover" href="/cat">
          <img class="prize" src="../../../assets/library/prize-2.png" alt="">
          <img src="../../../assets/library/hightlight-cate-2-removebg-preview.png" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title">Thức ăn cho mèo</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/cat" class="btn btn-primary">Ghé thăm</a>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="card text-center shadowWhenHover" href="/dog">
          <img class="prize" src="../../../assets/library/prize-1.png" alt="">
          <img src="../../../assets/library/highight-cate-1-removebg-preview.png" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title">Thức ăn cho chó</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/dog" class="btn btn-primary">Ghé thăm</a>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="card text-center shadowWhenHover" href="/cat">
          <img class="prize" src="../../../assets/library/prize-3.png" alt="">
          <img src="../../../assets/library/hightlight-cate-3-removebg-preview.png" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title">Đồ ăn cho mèo</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/cat" class="btn btn-primary">Ghé thăm</a>
          </div>
        </a>
      </div>
    </div>
  </div>
<br>
<br>
  
<div class="backgroundDangSau2">
  <!-- <div class="module-header">
    <hr/>
    <h2>Dịch vụ</h2>
    <hr/>
  </div> -->
  <div class="text-center">
    <br>
    <h3 style="color: wheat; font-weight: bold;">Đang khuyến mãi</h3>
    <!-- <h3 style="color: wheat; font-weight: bold;">&#8226; Đang khuyến mãi</h3> -->
    <!-- <ul style="color: wheat;">
      <li>Đang khuyến mãi</li>
    </ul> -->
    <p style="color: white;font-size: 20px;">Từ ngày 01/06 - 15/06</p>
    <!-- <p style="color: white;margin-left:20px;font-size: 20px;">Từ ngày 01/06 - 15/06</p> -->
    <a href="/dog"><button class="btn_in_homepage" type="button">Mua sắm ngay</button></a>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <a class="card text-center shadowWhenHover" href="/dog">
        <img src="../../../assets/library/products/dog/DG_FO_sp4-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h6 class="card-title">Thức ăn cho chó con hạt mềm ZENITH Puppy</h6>
          <span class="sale-price">200.000đ</span> &#173; 180.000đ
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="card text-center shadowWhenHover" href="/dog">
        <img src="../../../assets/library/products/dog/DG_CL_sp10-blue.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h6 class="card-title">Yếm cho chó kèm dây dắt Ambaby 1JXS043</h6>
          <span class="sale-price">255.000đ</span> &#173; 200.000đ
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="card text-center shadowWhenHover" href="/cat">
        <img src="../../../assets/library/products/cat/CT_CA_sp9.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h6 class="card-title">Nhà cây cho mèo Cat Tree QQ80764</h6>
          <span class="sale-price">5.500.000đ</span> &#173; 5.000.000đ
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </a>
    </div>
  </div>
</div>



  <br>
  <br>
  <div class="module-header">
    <hr/>
    <h2>Dịch vụ</h2>
    <hr/>
  </div>
  <div class="backgroundDangSau2">
    
    <div class="row">
      <div class="col-sm-4">
        <a class="card text-center shadowWhenHover" href="/pet-services#service-spa">
          <img src="../../../assets/library/wash-sv.png" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title">Dịch vụ tắm rửa thú cưng</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/pet-services#service-spa" class="btn btn-primary">Tìm hiểu</a>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="card text-center shadowWhenHover" href="/pet-services#service-grooming">
          <img src="../../../assets/library/cut.png" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title">Dịch vụ tỉa lông thú cưng</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/pet-services#service-grooming" class="btn btn-primary">Tìm hiểu</a>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="card text-center shadowWhenHover" href="/pet-services#service-hotel">
          <img src="../../../assets/library/ads.png" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title">Dịch vụ trông giữ thú cưng</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="/pet-services#service-hotel" class="btn btn-primary">Tìm hiểu</a>
          </div>
        </a>
      </div>
    </div>
  </div>

<br>
<br>

<div class="backgroundDangSau2">
  <!-- <div class="module-header">
    <hr/>
    <h2>Dịch vụ</h2>
    <hr/>
  </div> -->
  <div class="text-center">
    <br>
    <h3 style="color: wheat; font-weight: bold;">Blog</h3>
    <!-- <h3 style="color: wheat; font-weight: bold;">&#8226; Đang khuyến mãi</h3> -->
    <!-- <ul style="color: wheat;">
      <li>Đang khuyến mãi</li>
    </ul> -->
    <p style="color: white;font-size: 20px;"><i>"Chuyên mục mở rộng kiến thức"</i></p>
    <!-- <p style="color: white;margin-left:20px;font-size: 20px;">Từ ngày 01/06 - 15/06</p> -->
    <a href="/news"><button class="btn_in_homepage" type="button">Tìm hiểu thêm</button></a>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <a class="card text-center shadowWhenHover" href="/news">
        <img src="../../../assets/library/bl1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h6 class="card-title">Cách tự chữa viêm da cho chó mèo tại nhà</h6>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="card text-center shadowWhenHover" href="/news">
        <img src="../../../assets/library/cun-mang-thai.png" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h6 class="card-title">Chế độ dinh dưỡng cho cún mang thai</h6>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="card text-center shadowWhenHover" href="/news">
        <img src="../../../assets/library/blg05701.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h6 class="card-title">Tắm cho mèo an toàn tại nhà</h6>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </a>
    </div>
  </div>
</div>