<div>
    <h2 class="text-center lh-lg" style="color:#db7093">== DỊCH VỤ VÀ HỖ TRỢ ==</h2>
    <!-- <h2 class="text-center lh-lg" style="background-color: #f5deb3; color:#db7093">DỊCH VỤ VÀ HỖ TRỢ</h2> -->
    <!-- https://marpet-dev.github.io/Web1-Final-project/library/logoko-01.png -->
    <!-- background-image -->
    <!-- style="background:white url(./hihi.jpg) repeat fixed;" -->
    <!-- style="background:white url(https://us.123rf.com/450wm/yellowderevo/yellowderevo1507/yellowderevo150700043/43269030-paw-zoo-pattern-illustration-for-zoo-design-.jpg?ver=6) repeat fixed;" -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="">
                    <ul style="list-style-type: none; overflow: auto;">
                        <li class="listInPolicy marginPolicy"><a href="/service-and-support#huongdandathang" class="linktrongdichvuhotro">Đặt hàng</a>
                        </li>
                        <li class="listInPolicy marginPolicy"><a href="/service-and-support#gioithieubanbe"
                                class="linktrongdichvuhotro">Giới thiệu bạn bè</a></li>
                        <li class="listInPolicy marginPolicy"><a href="/service-and-support#trungtamcskh" class="linktrongdichvuhotro">Trung tâm CSKH</a></li>
                    </ul>
                    <!-- <img style="width: 50%;margin-top:50px;" src="https://marpet-dev.github.io/Web1-Final-project/library/signup_img2_xoay.png"> -->
                </div>
            </div>
            <div class="col-md-10">
                <div id="huongdandathang">
                    <h2>Hướng dẫn đặt hàng</h2>
                    <div class="container">
                        <div class="welcome">
                            Nhằm giúp quý khách có trải nghiệm mua hàng dễ dàng và nhanh chóng, Marpet xin mời quý khách thực hiện theo các bước hướng dẫn dưới đây:
                        </div>
                        <div class="step">
                            <div class="title">Bước 1: Tìm kiếm và lựa chọn sản phẩm </div>
                            <div class="content">
                                Các sản phẩm trong trang web được phân loại chi tiết theo từng nhóm sản phẩm. Ví dụ: Nhóm sản phẩm cho chó, Sản phẩm cho mèo, Quần áo, Vòng cổ dây dắt, Thức ăn..v.v. Quý khách nhấn chọn nhóm hàng mà mình quan tâm. Trường hợp Quý khách đã có định hướng
                                về sản phẩm cụ thể, Quý khách có thể sử dụng chức năng <span class="highlight"> "Search" </span> tìm kiếm của trang web để tìm kiếm nhanh sản phẩm đó.
                            </div>
                        </div>
                
                        <div class="step">
                            <div class="title">Bước 2: Xem thông tin sản phẩm và thêm vào giỏ hàng</div>
                            <div class="content">
                                <p> Quý Khách lướt xem các sản phẩm. Muốn xem chi tiết sản phẩm nào, Quý khách nhấn chọn vào ngay Tên sản phẩm hoặc Chi tiết . Nếu chọn mua sản phẩm nào, Quý khách hãy nhấn vào nút "Mua ngay" bên cạnh để đưa sản phẩm vào giỏ hàng. </p>
                                <p>
                                    Trong phần <span class="highlight"> "Chi tiết" </span>, Quý Khách có thể xem các thông tin về sản phẩm như tên hàng, tên thương hiệu - xuất xứ, đặc tính kỹ thuật công dụng và ảnh sản phẩm xem ở nhiều hướng.. </p>
                                <p> Trong trường hợp Quý khách muốn
                                    <span class="highlight" id="highlight"> đặt hàng ngay </span>, Quý khách có thể gọi điện ngay cho PetCity theo số điện thoại đặt hàng bên cạnh hoặc; chat Yahoo với Petcity để biết thêm tất cả các thông tin về sản phẩm. Quý Khách cũng
                                    có thể gửi những yêu cầu, hay thắc mắc về sản phẩm cho chúng tôi bằng cách đăng nhập để gửi câu hỏi rồi điền các thông tin và gửi cho chúng tôi.</p>
                                <p> Khi đã chọn mua được một sản phẩm, màn hình sẽ hiển thị <span class="highlight"> Danh sách sản phẩm đã chọn mua </span> chứa các sản phẩm mà Quý khách đã chọn cùng với thông tin về giá bán, số lượng đặt mua và tổng số tiền phải thanh toán.</p>
                            </div>
                        </div>
                
                        <div class="step">
                            <div class="title">Bước 3: Xem lại Giỏ hàng</div>
                            <div class="content">
                                <p> Quý Khách có thể sửa đổi lại cơ cấu của giỏ hàng bằng cách nhấp vào <span class="highlight"> "Giỏ Hàng" </span> . Để thay đổi số lượng của sản phẩm, Quý Khách điền trực tiếp vào ô "Số lượng" bên tay phải rồi nhấn phím Enter hoặc đơn giản
                                    là click chuột bên ngoài nhập liệu. Nếu muốn loại sản phẩm ra khỏi giỏ hàng, Quý Khách click và ô <span class="highlight"> "Xóa" </span>. </p>
                                <p> Nếu Quý khách muốn tiếp tục xem các sản phẩm khác, xin nhấn vào nút <span class="highlight"> "Tiếp Tục" </span>
                                </p>
                            </div>
                        </div>
                
                        <div class="step">
                            <div class="title">Bước 4: Đặt hàng</div>
                            <div class="content">
                                <p> PetCity phục vụ giao hàng miễn phí đến địa chỉ của Quý khách cho tất cả các đơn đặt hàng trong nội thành Tp.Hà Nội & một số khu vực Tp. Hồ Chí Minh </p>
                                <p> Nếu đồng ý đặt mua số lượng sản phẩm có trong giỏ hàng, Quý khách nhấn chọn nút "Thanh toán" bên dưới Giỏ Mua Hàng để chấp nhận thanh toán. Sau đó Quý khách cần đăng nhập tài khoản để điền các thông tin cần thiết để hoàn tất đơn đặt hàng.
                                </p>
                                <p> - Trường hợp Quý khách đã có sẵn tên truy cập và mật khẩu do PetCity cung cấp hay do Quý khách đã đăng ký trước đó, Quý khách hãy điền Tên truy cập và Mật khẩu vào mục Đăng Nhập và chọn nút "Đăng nhập". Nếu Quý khách là khách hàng mới
                                    chưa đăng ký tài khoản, Quý khách vui lòng đăng ký một Tài khoản mới. </p>
                                <p> - Sau khi đăng ký tài khoản xong, Quý khách có thể xem lại đơn đặt hàng, đồng thời điền chính xác các thông tin về địa điểm, thời gian giao hàng và phương thức thanh toán... </p>
                                <p> Quý Khách có thể ghi thêm các yêu cầu khác đối với đơn đặt hàng như địa điểm, thời gian... bằng cách điền vào mục "Ghi chú". Sau khi nhấn vào nút "Đặt hàng", báo đơn đặt hàng của Quý khách sẽ được gửi tới chúng tôi và chúng tôi sẽ giao
                                    hàng trong thời gian sớm nhất. </p>
                                <p> Quý khách cũng có thể gọi điện thoại đến Siêu thị PetCity để đặt hàng trực tiếp theo các số điện thoại sau: </p>
                                <p class="notice"> Tel: 024 3931 0777 - 024 3933 2727 | Hotline: 0987 612727</p>
                            </div>
                        </div>
                
                        <div class="step">
                            <div class="title">Bước 5: Thanh toán</div>
                            <div class="content">
                                <p> - Khi nhấn chọn <span class="highlight">Thanh toán</span>, quý khách nếu chưa đăng ký tài khoản vui lòng nhập đầy đủ thông tin yêu cầu.</p>
                                <p>- Tiếp theo khách hàng chọn phương thức thanh toán mà mình mong muốn.</p>
                                <p>- Kiểm tra lại chi tiết đơn hàng và nhấn nút <span class="highlight">Xác nhận</span> để hoàn tất mua hàng.</p>
                                <span class="notice">Lưu ý: Nhập đầy đủ và chính xác thông tin cá nhân để tụi mình có thể đưa hàng đến quý khách nhanh chóng và chính xác nhất.</span>
                            </div>
                        </div>
                        <!-- <div class="storeinformation">
                            <div class="title">Để biết thêm thông tin, Quý khách vui lòng liên hệ:</div>
                            <p><span class="highlight" id="highlight">HỆ THỐNG CỬA HÀNG MARPET:</span></p>
                            <p><span class="highlight"> Văn phòng Điều hành: </span> Tầng 79, Tòa nhà Landmark 81, 720A Điện Biên Phủ, P22, Q.Bình Thạnh, Thành phố Hồ Chí Minh</p>
                            <p><span class="highlight">Hà Nội:</span> 174 Kim Mã, Q.Ba Đình, Hà Nội</p>
                            <p><span class="highlight">Hồ Chí Minh:</span> 166 Lý Chính Thắng, Quận 3, Tp. HCM</p>
                            <p><span class="highlight"> Tel:</span> 024 3931 0777 - 024 3933 2727 <br><span class="highlight"> Hotline:</span> 0987 612727</p>
                            <p><span class="highlight"> E-mail:</span> petcity.vn@gmail.com <br><span> Web:</span> http://marpet.vn</p>
                        </div> -->
                    </div>
                </div>
                <br>
                <div id="gioithieubanbe">
                    <h2>Giới thiệu bạn bè</h2>
                    <div class="container">
                        <div class="step">
                            <div class="title">1 - Nơi chọn mua đồ dùng cho thú cưng, đồ cho chó mèo đa dạng mẫu mã nhất
                            </div>
                            <div class="content">
                                <p>Từ những thương hiệu nổi tiếng, những món hàng phổ biến hay những món hàng độc, chúng tôi có mọi thứ cho thú cưng, chó mèo của bạn. Thêm nữa, chúng tôi luôn cập nhật những thương hiệu và sẩn phẩm mới với danh mục sản phẩm lên đến hàng
                                    nghìn sản phẩm, vì vậy bạn không cần phải đến bất cứ nơi nào khác để chọn lựa.</p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="title">2 - <span style="color:palevioletred;">MARPET</span> luôn hỗ trợ dịch vụ và chi phí giao hàng tốt nhất</div>
                            <div class="content">
                                <p>Tại MARPET chúng mình luôn cố gắng hỗ trợ vận chuyển sản phẩm đến quý khách hàng nhanh chóng và tối ưu chi phí (một số thông tin chi tiết về vận chuyển áp dụng tại<a href="/policy#giaohang" id="link">đây</a>). Hơn nữa, việc miễn
                                    phí vận chuyển luôn là mục đích chúng tôi đang hướng tới.</p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="title">3 - Dịch vụ giao hàng tận nơi nhanh chóng</div>
                            <div class="content">
                                <p>Việc giao hàng diễn ra nhanh nhất trong ngày tại Hà Nội - Tp.HCM (nơi có showroom trực tiếp của PetCity).</p>
                                <p>
                                    Với các tỉnh khác: thời gian nhận hàng dao động từ 1- 8 ngày làm việc.
                                </p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="title">4 - Công cụ tìm kiếm đồ cho thú cưng trên website thuận lợi</div>
                            <div class="content">Chúng tôi giúp việc tìm kiếm đồ cho thú cưng hoàn hảo chỉ trong tầm tay. Cho dù bạn muốn tìm một loại thức ăn, một chiếc vòng cổ hay một loại đồ chơi cho thú cưng, chúng tôi luôn luôn hỗ trợ bạn tìm kiếm những sản phẩm bạn mong muốn.</div>
                        </div>
                        <div class="step">
                            <div class="title">5 - Những bộ sưu tập đồ cho thú cưng trong tầm tay</div>
                            <div class="content">
                                <p> Chúng tôi mang lại trải nghiệm mua sắm tại cửa hàng cho bạn với bộ sưu tập mà chúng tôi đã lựa chọn cẩn thận, đã chọn lọc thuận tiện cho bạn theo nhóm đồ cho thú cưng, chó mèo. Hãy thử xem & lựa chọn những sản phẩm tiêu biểu của MARPET
                                    (MARPET Picks) và Top 10 sản phẩm cho chó - Top 10 sản pẩm cho mèo.</p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="title">6 - Giá cả tuyệt vời - Không thể tốt hơn</div>
                            <div class="content">
                                <p>
                                    Mục tiêu của chúng tôi là cung cấp cả sự tiện lợi và giá trị cho khách hàng, vì vậy chúng tôi làm việc chăm chỉ để đảm bảo rằng giá mà chúng tôi đưa ra là cạnh tranh
                                </p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="title">7 - Không phải mất thời gian xếp hàng, mang vác</div>
                            <div class="content">
                                <p>Không cần phải đến các cửa hàng đồ cho thú cưng, chó mèo, không chờ xếp hàng, không phải mang những túi xách nặng với việc mua sắm trực tuyến sôi động hàng ngày. Với MARPET, không cần các chuyến đi đến các cửa hàng, không gồm những
                                    lối đi đông đúc - mọi con đường sẽ luôn rộng mở, không khó khăn để lấy hàng hóa trên kệ, và tất nhiên không phải chờ đợi để xếp hàng thanh toán.</p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="title">8 - Dịch vụ khách hàng tuyệt vời</div>
                            <div class="content">
                                <p>Ở MARPET, chúng mình luôn đặt sự hài lòng của khách hàng lên hàng đầu.</p>
                                <p>MARPET cam kết cung cấp cho Quý khách dịch vụ tốt nhất và khuyến khích quý khách liên hệ với MARPET nếu quý khách có bất kỳ câu hỏi hoặc sự quan tâm nào đến số máy: 04 3931 0707 hoặc email: cskh@veesano.com .</p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="title">9 - Chương trình giới thiệu cho bạn bè</div>
                            <div class="content">
                                MARPET sẽ tặng một Phiếu mua hàng giá trị cho bạn khi bạn mời được 1 người bạn đến tận hưởng những dịch vụ tuyệt vời tại MARPET.vn Thêm vào đó, bạn bè của bạn sẽ được giảm x% với đơn hàng đầu tiên khi mua sắm tại MARPET.vn (mức giảm tối đa là
                                100.000đ & một số điều kiện khác ).
                            </div>
                        </div>
                    </div>

                </div>

                <br>
                <div id="trungtamcskh">
                    <h2>Trung tâm chăm sóc khách hàng</h2>
                    <div class="container">
                        <div class="welcome">
                            Chào mừng đến với Trung tâm Chăm sóc khách hàng MARPET
                        </div>
                        <div class="step">
                            <p>MARPET luôn hướng tới việc cung cấp cho quý khách hàng các sản phẩm và dịch vụ đáng tin cậy. Chúng tôi luôn chào đón mọi góp ý, phàn nàn của quý khách để dịch vụ của chúng tôi ngày một hoàn thiện hơn.</p>
                            <p>Các nhân viên dịch vụ khách hàng của MARPET sẽ cung cấp thông tin và trợ giúp phù hợp để bảo đảm rằng Thắc mắc - Khiếu nại được gửi tới chúng tôi một cách hữu hiệu. Khách hàng có thể gửi tới bằng những cách sau đây:</p>
                
                            <ul class="contactinfor">
                                <ul>
                                    <li>
                                        <strong>Hotline:</strong> <u> 04 3931 0777 - 0987 612727</u></li>
                                    <li>Từ 8h30 sáng tới 5h30 chiều, từ Thứ 2 tới Thứ 7.</li>
                                </ul>
                
                                <li> <strong>Email: </strong> Gửi thư điện tử tới marpet.vn@gmail.com | Tiêu đề: Dịch Vụ Chăm Sóc Khách Hàng
                                </li>
                            </ul>
                            <p>Mọi Thắc mắc - Khiếu nại của khách hàng sẽ được ghi nhận, và được hồi đáp chậm nhất trong thời gian quy định là 24h, kể từ khi tiếp nhận (không tính ngày Chủ Nhật), và sẽ được xử lý một cách hiệu quả chậm nhất trong vòng 3 ngày làm việc.</p>
                        </div>
                        <div class="title">Câu hỏi thường gặp</div>
                        <div class="step">
                            <ol>
                                <li><a style="color:black;" href="/policy#doitrahang">Đổi - Trả sản phẩm</a></li>
                                <li><a style="color:black;" href="/policy#giaohang">Miễn phí giao hàng</a></li>
                                <li><a style="color:black;" href="/policy#phuongthucthanhtoan">Phương thức thanh toán</a></li>
                                <!-- <li><a>Chương trình khách hàng Vip</a></li> -->
                                <li><a style="color:black;" href="/service-and-support#gioithieubanbe">Chương trình giới thiệu khách hàng cho MARPET</a></li>
                                <!-- <li><a href="discount50.html">Các chương trình khuyến mại tại MARPET</a></li> -->
                            </ol>
                        </div>
                        <div class="storeinformation">
                
                        </div>
                        <p><span class="highlight" id="highlight">HỆ THỐNG CỬA HÀNG MARPET:</span></p>
                        <p><span class="highlight"> Văn phòng Điều hành: </span> Tầng 79, Tòa nhà Landmark 81, 720A Điện Biên Phủ, P22, Q.Bình Thạnh, Thành phố Hồ Chí Minh</p>
                        <p><span class="highlight">Hà Nội:</span> 174 Kim Mã, Q.Ba Đình, Hà Nội</p>
                        <p><span class="highlight">Hồ Chí Minh:</span> 166 Lý Chính Thắng, Quận 3, Tp. HCM</p>
                        <p><span class="highlight"> Tel:</span> 024 3931 0777 - 024 3933 2727 <br><span class="highlight"> Hotline:</span> 0987 612727</p>
                        <p><span class="highlight"> E-mail:</span> petcity.vn@gmail.com
                            <!-- <br><span class="highlight">Web:</span> http://marpet.vn -->
                        </p>
                    </div>
                </div>
                <br>
                
            </div>
        </div>
    </div>
</div>