<div class="news">
    <h2 class="news-title">
        MÙA ĐÔNG KHÔNG LẠNH - SALE UP TO 50% QUẦN ÁO CHO THÚ CƯNG
    </h2>
    <div class="news-img" >
        <img src="../../../assets/library/discount50.png" width="700px" >
    </div>
    <p  style="margin-top: 10px;">
        <a href="/home">
            <img src="../../../assets/library/dathangbutton.gif" width="313" height="75" class="dathang_img">
        </a>
    </p>
    <div class="news-content">
        <div>
            <h4 style="text-align: center;">
    <img src="../../../assets/library/dogicon.png" id="icon" alt="">
    <!-- &nbsp;Năm mới gõ cửa bằng những trận rét liên hồi.  -->
    Làm sao để cho boss chó mèo một năm mới ấm áp, xinh đẹp mà không lo cháy ví sen?
</h4> <br>
            <span>Đến ngay <span id="highlight"> MARPET </span> với chương trình sale 50% các sản phẩm nệm và quần áo</span>
        </div>
        <p>
            <span>
                <img src="../../../assets/library/carticon.png" alt="" id="icon">&nbsp; <a href=""> Đặt hàng ngay </a>
            </span> <br>
            <span>
                <img src="../../../assets/library/clockicon.png" id="icon" alt="">&nbsp; Thời gian: 24/12/2021 - 15/1/2022
            </span> <br>
            <span>
                <img id="icon" src="../../../assets/library/locationicon.png" alt=""> &nbsp;Địa điểm: Áp dụng tại tất cả các cửa hàng và online của hệ thống Petcity
            </span>
        </p>
        <div style="margin-bottom: 5px">
            <span>
            <img src="../../../assets/library/noticeicon.png" alt="" >&nbsp; Lưu ý:
        </span>

            <ul style="margin-top:5px" class="news_ul">
                <li>Ưu đãi freeship khu vực nội thành khi mua online với hóa đơn có giá trị sau khi đã chiết khấu >200k.</li>
                <li>Không áp dụng cùng các chương trình khuyến mãi khác</li>
                <li>Đơn đặt hàng trong ngày nếu chưa kịp xử lý vẫn sẽ được hưởng ưu đãi bình thường.</li>
            </ul>
        </div>
        <br>
        <p><span id="highlight">HỆ THỐNG CỬA HÀNG MARPET:</span></p>
        <p><span> Văn phòng Điều hành: </span> Tầng 79, Tòa nhà Landmark 81, 720A Điện Biên Phủ, P22, Q.Bình Thạnh, Thành phố Hồ Chí Minh</p>
        <p><span>Hà Nội:</span> 174 Kim Mã, Q.Ba Đình, Hà Nội</p>
        <p><span>Hồ Chí Minh:</span> 166 Lý Chính Thắng, Quận 3, Tp. HCM</p>
        <p><span> Tel:</span> 024 3931 0777 - 024 3933 2727 <br><span> Hotline:</span> 0987 612727</p>
        <p><span> E-mail:</span> marpet@gmail.com
             <!-- <br><span> Web:</span> http://marpet.vn -->
            </p>
    </div>
</div>