<div class="container">
    <div class="category">
        <div class="category_content footer_content--left">
            <h2>Danh mục</h2>
            <ul class="category-list">
                <li class="category-item category-item--active">
                    <a (click)="navigateType('d_fo')">Thức ăn</a> 
                </li>
                <li class="category-item category-item--active">
                    <a (click)="navigateType('d_cl')">Quần áo</a>
                </li>
                <li class="category-item category-item--active">
                    <a (click)="navigateType('d_co')">Vòng cổ, dây dắt, rọ mõm</a>
                </li>
                <li class="category-item category-item--active">
                    <a (click)="navigateType('d_ds')">Dụng cụ ăn uống</a>
                </li>
                <li class="category-item category-item--active">
                    <a (click)="navigateType('d_be')">Mỹ phẩm, dụng cụ làm đẹp</a>
                </li>
                <li class="category-item category-item--active">
                    <a (click)="navigateType('d_ca')">Chuồng, giường, nhà túi</a>
                </li>
                <li class="category-item category-item--active">
                    <a (click)="navigateType('d_toy')">Đồ chơi, phụ kiện huấn luyện</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- [style.display]="checkDog(p.category)"  -->
    <!-- *ngIf="(p.category.substring(0, 1) == 'd')" -->
    <!-- [style.visibility]="checkDog2(p.category)" -->
        <!-- <div style="display: none !important;" class="products d-flex justify-content-center col-xl-4 col-md-6">s</div> -->
    <div class="row">
        <div class="products d-flex justify-content-center col-xl-4 col-md-6" *ngFor="let p of products">
            <div class="product w-100" *ngIf="(p.category.substring(0, 1) == 'd')">
                <div class="productitem">
                    <div class="product-top text-center">
                        <img src="../../../assets/{{p.image[0]}}" alt="Error">
                    </div>
                    <div class="product-info">
                        <div class="product-label text-center">{{p.label}}</div><br>
                        <div class="product-name text-center">{{p.name}}</div><br>
                        <div class="product-price text-center">{{p.price[0]}}</div>  
                        <div class="product-discount text-center">
                            {{p.discount}}
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
