body {
    width: 100%;
    height: 100vh;
    background-color: #f2f3f5;
    font-family: SVN-Poppins;
}

.signup_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.signup_form {
    padding: 20px 100px;
    /* width: 50%; */
    z-index: 2;
    background-color: white;
    border-radius: 20px;
    max-width: 600px;
    max-height: 900px;
    box-shadow: 0px 0px 25px 2px rgb(173, 173, 173, 0.5);
}

.signup_img-left {
    width: 25%;
    position: relative;
    z-index: 1;
}

.signup_img-right {
    width: 25%;
    position: relative;
    z-index: 1;
}

#img_left1 {
    max-width: 180px;
    max-height: 300px;
    position: absolute;
    top: 60%;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
}

#img_left2 {
    max-width: 180px;
    max-height: 150px;
    height: auto;
    width: 50%;
    position: relative;
    z-index: 2;
    top: 45%;
    left: 30%;
    display: block;
}

#img_right {
    max-width: 180px;
    max-height: 300px;
    position: absolute;
    top: 30%;
    right: 0px;
    display: block;
    width: 100%;
    height: auto;
}


/* h1 {
    color: #db7093;
} */

.signup_title-text {
    text-align: center;
    letter-spacing: 2px;
}

.signup_subtitle-text {
    text-align: center;
}

.signup_form-row {
    width: 100%;
    position: relative;
}

.signup_form-label {
    display: inline-block;
    margin-bottom: 5px;
}

.signup_form-input {
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #f2f3f5;
    border-radius: 5px;
    display: block;
}

.signup_form-row.success input {
    border: 1.5px solid #2ecc71;
}

.signup_form-row.error input {
    border: 1.5px solid #e74c3c;
}

.signup_form-row.error small {
    color: #e74c3c;
    visibility: visible;
}

.signup_form-row i {
    position: absolute;
    top: 33px;
    right: 5px;
    font-size: 16px;
    visibility: hidden;
}

.signup_form-row.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.signup_form-row.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.signup_form-row small {
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.signup_form-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_button {
    background-color: palevioletred;
    color: wheat;
    border-style: none;
    border-radius: 20px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
}

.signup_button:hover {
    background-color: hsl(340, 57%, 64%, 0.5);
    color: black;
    box-shadow: 0px 0px 25px 2px rgb(173, 173, 173, 0.5);
}

.signup_container span {
    color: red;
}

@media screen and (max-width:780px) {
    .signup_form {
        /* width: 300px; */
        padding: 50px;
    }
}

@media screen and (max-width:650px) {
    .signup_form {
        /* width: 250px; */
        padding: 40px;
    }
}

@media screen and (max-width:500px) {
    .signup_form {
        /* width: 200px; */
        padding: 20px;
    }
    .signup_form-row {
        margin-top: 20px;
    }
}

@media screen and (max-width:414px) {
    .signup_form {
        /* width: 80%; */
        padding: 20px;
    }
    .signup_form-row {
        margin-top: 20px;
    }
    .signup_form-row small {
        font-size: 11px;
        margin-bottom: 3px;
    }
    .signup_title-text {
        font-size: 18px;
    }
    .signup_subtitle-text {
        font-size: 14px;
        text-align: center;
    }
    .signup_img-right {
        visibility: hidden;
    }
    .signup_img-left {
        visibility: hidden;
    }
}
.anVaoDeDangNhap{
    text-decoration: none;
    color:#db7093;
    font-weight: bold;
    position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #db7093, #db7093 50%, black 50%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.anVaoDeDangNhap:hover{
    background-position: 0 100%;
}