<div class="signup_container" style="margin-top:50px;">

    <!-- <div class="signup_img-left" style="margin-bottom:220px;">
        <img src="../../../assets/library/signup_img1.png" alt="" id="img_left1">
        <img src="../../../assets/library/hello.png" id="img_left2" alt="">
    </div> -->


    <div class="signup_form">
        <div class="signup_title">
            <h3 class="signup_title-text" style="color:#db7093">Nhập email của bạn</h3>

            <!-- <div class="signup_subtitle-text">Bạn chưa có tài khoản? Đăng ký ngay!</div> -->
            <br>
        </div>
        <div class="signup_content">
            <form class="register_form" id="register_form">
                <div class="signup_form-row mb-3 mb-3">
                    <label for="email" class="signup_form-label">Email của bạn<span>*</span></label> <br>
                    <input placeholder="example@gmail.com" type="text" name="email" class="signup_form-input" id="reEmail">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <!-- <div class="signup_form-row mb-3 mb-3">
                    <label for="password" class="signup_form-label">Mật khẩu<span>*</span></label> <br>
                    <input type="password" name="password" class="signup_form-input" id="repw">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle" id="fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="signup_form-row mb-3">
                    <label for="password2" class="signup_form-label">Nhập lại mật khẩu<span>*</span></label> <br>
                    <input type="password" name="password2" class="signup_form-input" id="rerwp">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="signup_form-row mb-3">
                    <label for="name" class="signup_form-label">Họ và Tên <span>*</span></label> <br>
                    <input type="text" name="name" class="signup_form-input" id="fullname">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="signup_form-row mb-3">
                    <label for="phonenumber" class="signup_form-label">Số điện thoại <span>*</span></label> <br>
                    <input type="text" name="phonenumber" class="signup_form-input" id="phonenumber">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="signup_form-row mb-3">
                    <label for="address" class="signup_form-label">Địa chỉ <span>*</span></label> <br>
                    <input type="text" name="address" class="signup_form-input" id="address">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div> -->
                <div class="signup_form-button">
                    <button class="signup_button" id="reBtn">GỬI</button>
                </div>
                <br>
                <div class="signup_subtitle-text">
                    <p>Bạn chưa có tài khoản?</p>
                    <a class="anVaoDeDangNhap" href="/sign-up">Đăng ký ngay!</a></div>
            </form>
        </div>

    </div>

    <!-- <div class="signup_img-right">
        <img src="../../../assets/library/signup_img2.png" id="img_right" alt="">
    </div> -->

</div>